					<div class="data-article hidden-xs">
<%
	var month = item.date.get('Month');
	if(theme.language == 'zh-CN'){
		month = (month+1) +'月';
	}else{
		month = [
        "Jan", "Feb", "Mar", "Apr", "May", "Jun",
        "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"
    ][month];
	}
%>
						<span class="month"><%= month %></span>
						<span class="day"><%= item.date.get('Date') %></span>
					</div>