
<section id="zan-bodyer">
  <div class="container">
      <section id="mainstay" class="col-md-8">
  <%- partial('_partial/article', {item: page, index: false}) %>

      </section>
      <%- partial('_partial/sidebar') %>
    </section>
  </div>
</section>
