<div class="panel visible-md visible-lg archive">
		<a href="<%= config.url %>/timeline">
			<div class="panel-heading">			
				<i class="fa fa-folder-open"></i> <span>文章存档</span>			
			</div>
		</a>
	</div>